
.container{
display: flex;
justify-content: center;
align-items: center;
/* background-color: aqua; */
height: 100%;
}
.card{
    width: 350px;
    height: 500px;
    /* background-color: yellow; */
    border: 1px solid black;
}

  

.opt{
    width: 100%;
    /* background-color: greenyellow; */
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ls{
    /* background-color: red; */
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
    gap: 10px;
}
.out{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inp{
    /* background-color: red; */
    /* display: flex; */
    /*  */}

.inp .email{
    /* background-color: red; */
    margin-top: -15px;
}

.forget{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    gap: 130px;

}